/* MAIN (WAJIB ADA) */
.main {
    margin-left: 240px;
    padding: 20px 30px;
}

/* BODY */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f4f6f9;
    overflow-x: hidden;
}

/* LAYOUT */
.app {
    display: flex;
}

/* TOPBAR */
.topbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.topbar input {
    padding: 10px;
    width: 250px;
    border-radius: 20px;
    border: none;
    background: #eef1f5;
}

.topbar .right {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* TITLE */
.title-box {
    background: #e9edf3;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}

/* ROW */
.row1, .row2 {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

/* CARD */
.card {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
}

/* MONITOR */
.monitor {
    flex: 2;
}

.card-head {
    display: flex;
    justify-content: space-between;
}

.item {
    margin-top: 15px;
}

.bar {
    height: 6px;
    background: #eee;
    border-radius: 10px;
    margin: 5px 0;
}

.bar div {
    height: 100%;
    background: #2b6cb0;
    border-radius: 10px;
}

/* SPJ */
.spj {
    flex: 1;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
}

.spj button {
    margin-top: 15px;
    background: white;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
}

/* ADMIN */
.admin {
    flex: 1;
}

.money {
    background: #f1f5f9;
    padding: 15px;
    border-radius: 10px;
}

.money span {
    color: green;
}

/* REPORT */
.report {
    flex: 1;
}

.doc {
    margin-top: 10px;
}